<!DOCTYPE html>
<html>
<head>
	<title>Pandas Example</title>
</head>
<body>
<h1>Welcome to Dexter app</h1>
	
	<p>Pandas import successfull AND fully functionnal: <b>OK</b>	
	<p>Numpy import successfull AND fully functionnal: <b>OK</b>	
	<p>Scipy import successfull AND fully functionnal: <b>OK</b>
	<p>Scikit Learn import successfull AND fully functionnal: <b>OK</b>
	<p>Flask import successfull AND fully functionnal: <b>OK</b>
		
   <h2>Test to compute and return a Pandas DF vis Flask API through AZURE WebApp : OK</h2>
    <table>
        <tr>
                <th>Label</th>
                <th>Variables</th>
        </tr>
        {% for k, v in ages.items() %}
                <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                </tr>
        {% endfor %}
</table>
</body>
</html>
